{%extends "home/base.html"%}
{%load static%}

{% block content %}
<!-- <div class="js-fullheight"> -->

<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight">
  <div id="overlay">
  <div class="container" style="margin-top: 5em;">
    <div class="jumbotron" style="background: transparent;">
        <h1 class="display-4" style="font-family: 'Ultra', serif; color:#FFF">Hiii, {{user.first_name}}</h1>
        <p class="lead" style="font-family: 'Merienda One', cursive; color: #FFF; font-size:x-large">Relier, is a beautifully designed and easy to use application to make the donations management easy and flexible.</p>
        <hr class="my-4">
        <p style="font-family: 'Merienda One', cursive; color: #FFF; font-size:x-large">We are encouraging people to make more and more donations for helping the society.<br> Making donations and helping others to grow gives a sense of happiness and fulfilment. This application is just a step forward to create connected and happy world.<br>We are using the blockchain technology to keep the data of the donor and the data of their donations safe. Each user also have the ability to track who recieved thier donation.</p>
    </div>
    <h2 style="font-family: 'Ultra', serif; color:#FFF">The Development Team</h2>
    <div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem; background:transparent">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title" style="color: #FFF">Naman Mathur</h5>
              <p class="card-text" style="color:#FFF">Backend development and Database Management</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem; background:transparent">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title" style="color: #FFF">Mudit Tyagi</h5>
              <p class="card-text" style="color: #FFF">Frontend development and Blockchain</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}