{%extends "home/base.html"%}
{%load static%}

{% block content %}
<!-- <div class="js-fullheight"> -->

<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-family: 'Luckiest Guy', cursive;">About Us
      </div>
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-family: 'Roboto Slab', serif; color:#FFF; font-size:x-large">Relier in french means connect. Relier the web application created by Mudit Tyagi and Naman Mathur of SRM University, Haryana as a final year project in the hope to connect the homeless and poor people with the society through donations. Making donations and helping others to grow gives a sense of happiness and fulfilment. This application is just a step forward to create connected and happy world. It is a new way for people to donate the goods for the needy people and track their donations and using the blockchain technology to store the donations data gives a better security and reliability to the web application. This web application is a perfect example of how we can use blockchain technology in various sectors of our life. </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}