{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Relier the donation app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Archivo+Black|Bitter|Bree+Serif|Francois+One|Kanit:300|Viga&display=swap"
    rel="stylesheet">

</head>

<body style="background: #A90093;background: -moz-linear-gradient(45deg, #A90093 0%, #3D78B0 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, #A90093), color-stop(100%,#3D78B0));
background: -webkit-linear-gradient(45deg, #A90093 0%, #3D78B0 100%);
background: -o-linear-gradient(45deg, #A90093 0%, #3D78B0 100%);
background: -ms-linear-gradient(45deg, #A90093 0%, #3D78B0 100%);
background: linear-gradient(45deg, #A90093 0%, #3D78B0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448ef6', endColorstr='#af05a9', GradientType=1 );">

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home'%}">Relier .</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item cta"><a href="{% url 'logout' %}" class="nav-link"><span>Logout</span></a></li>
          <li class="nav-item cta"><a href="{% url 'profile' %}" class="nav-link"><span>Profile</span></a></li>
          {%else%}
          <li class="nav-item cta"><a href="{% url 'login' %}" class="nav-link"><span>Login</span></a></li>
          <li class="nav-item cta"><a href="{% url 'register' %}" class="nav-link"><span>Register</span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> <!-- END nav -->
  {% block content %}{% endblock %}


</body>

</html>
