{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Relier the donation app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Courgette|Francois+One|Heebo:900|Merienda+One|Ultra|Viga&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">

</head>

<body style="background-image: linear-gradient(to bottom right, red, yellow);  background-size: cover;   background-repeat: no-repeat; height: 100%">
  <div id="particles-js" style="background-image: linear-gradient(to bottom right, #FF8B95, #22203E);  background-size: cover;   background-repeat: no-repeat; height: 100%">
  </div>

<nav class="navbar fixed-top navbar-expand-lg navbar-light container" style="background-color: transparent;">
  <a class="navbar-brand" href="{% url 'home'%}" style="color: #FFF; font-family: 'Heebo', sans-serif;"><h2>Relier.</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item active pull-right">
        <a href="{% url 'home' %}" class="nav-link" style="color: #FFF; font-family: 'Heebo', sans-serif;">Home</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'about-us' %}" class="nav-link" style="color: #FFF; font-family: 'Heebo', sans-serif;">About</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item btn-nav"><a href="{% url 'logout' %}" class="nav-link"><span style="color: #FFF; font-family: 'Heebo', sans-serif;">Logout</span></a></li>
      <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link"><span style="color: #FFF; font-family: 'Heebo', sans-serif;">Profile</span></a></li>
      {%else%}
      <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span style="color: #FFF; font-family: 'Heebo', sans-serif;">Login</span></a></li>
      <li class="nav-item"><a href="{% url 'register' %}" class="nav-link"><span style="color: #FFF; font-family: 'Heebo', sans-serif;">Register</span></a></li>
      {% endif %}    </ul>
  </div>
</nav>

  {% block content %}{% endblock %}

<footer class="page-footer font-samll blue pt-4" id="overlay" style="background:transparent">
  <div class="container-fluid text-center">
    <p class="text-muted" style="color: #FFF; font-family: 'Courgette', cursive; ">A Naman Mathur and Mudit Tyagi Production</p>

  </div>
</footer>
<script src="{% static 'home/js/particles.js' %}"></script>
<script type="text/javascript">
  particlesJS.load('particles-js', '{% static "home/json/particles.json" %}', function() {
      console.log('callback - particles.js config loaded');
    });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
