{%extends "home/base.html"%}
{%load static%}
{%block content%}
<div style="height: 7em;"></div>
<div class="media container" id="overlay">
    <div class="media-body">
        <h2 class="account-heading" style="color:#FFF; font-family: 'Bree Serif';">User Name :-
            {{username}}</h2><h2 class="badge badge-warning" align="right" style="color: #fff; font-size: 30px">Contribution Score: {{count}}</h2>
        <p style="font-family:'Viga'; color:#FFF; font-size:40px"><u><strong>Approved
                    Contributions</strong></u></p>
        
        {% for block in blockchain.chain %}
        {% for dt in block.data %}
        {% if dt.sender == user.username %}
        <p style="font-family:'Viga'; color:#FFF; font-size:20px">Donation No.- {{block.index}}
            <span class="badge badge-success" align="right">Approved Donation</span></p>
        <p style="font-family:'Viga'; color:#FFF; font-size:20px">{{dt.title}}</p>
        <p style="font-family:'Viga'; color:#FFF; font-size:20px">{{dt.description}}</p>
        <hr class="style-three">
        {% endif %}
        {% endfor %}
        {% endfor %}
        <p style="font-family:'Viga'; color:#FFF; font-size:40px"><u><strong>Rejected
            Contributions</strong></u></p>

    {% for block in denyblockchain.chain %}
    {% for dt in block.data %}
    {% if dt.sender == user.username %}
    <p style="font-family:'Viga'; color:#FFF; font-size:20px">Donation No.- {{block.index}}
    <span class="badge badge-danger" align="right">Rejected Donation</span></p>
    <p style="font-family:'Viga'; color:#FFF; font-size:20px">{{dt.title}}</p>
    <p style="font-family:'Viga'; color:#FFF; font-size:20px">{{dt.description}}</p>
    <hr class="style-three">
    {% endif %}
    {% endfor %}
    {% endfor %}
<img class="rounded-circle article-img" src="{{username.profile.image.url}}" alt=""
style="height: 65px; width: 65px; margin-right: 16px;">
{% endblock %}